.navbar {
  position: fixed;
  top: 0px;
  display: flex;
  background-color: rgb(175, 196, 243);
  padding: 15px;
  left: 0px;
  width: 100%;
  justify-content: space-around;
}

.navbar li {
  list-style-type: none;
  margin: 25px;
  padding: 10px;
  color: whitesmoke;
  background-color: rgb(49, 73, 124);
}

.navbar .list-item a {
  color: white;
}