body {
  background-color: #1f1f1e;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.page-not-found{
  font-size: '50px';
  color: "red"; 
  background-color: "Yellow";
}